html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans Jp", Sans-serif;
  width: 100vw;
}

li {
  list-style: none;
}

/* Header */
.header {
  max-width: 64rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0.8rem auto;
  padding: 0 1rem;
}

.logo {
  width: 12rem;
  height: auto;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 1.44rem;
  font-weight: 300;
  color: #24292e;
}

/* Main */
.hero {
  width: 100%;
}

/* About */
.about-section {
  max-width: 60rem;
  text-align: center;
  margin: 8rem auto;
  padding: 0 1rem;
}

h2 {
  font-weight: 600;
  font-size: xx-large;
  color: #383e45;
  margin-bottom: 3.2rem;
}

.h2-deco {
  border-bottom: #383e45 0.1rem solid;
}

.profile-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.profile-img {
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
}

.profile-text {
  text-align: left;
}

.title {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.profile-disc {
  width: 100%;
  font-size: 1.44rem;
}

/* Bicycle */
.bicycle-section {
  max-width: 80rem;
  text-align: center;
  margin: 8rem auto;
  padding: 0 1rem;
}

.bicycle-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.bicycle-img {
  width: 100%;
}

.bicycle-disc {
  width: 100%;
  font-size: 1.44rem;
}

/* Footer */
footer {
  text-align: center;
  margin-bottom: 1rem;
}
